body {
            font-family: Arial, sans-serif;
            padding: 40px;
        }

        /* Open modal button */
        #openModal {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            display: inline-block;
        }

        /* Modal overlay */
        .modal {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.6);
            display: none;
        }

        /* Show modal */
        .modal:target {
            display: block;
        }

        .modal-overlay{
            position: absolute;
            inset: 0;
			 z-index: 0;
        }

        /* Modal box */
        .modal-content {
            background: white;
            width: 400px;
            margin: 100px auto;
            border-radius: 6px;
            overflow: hidden;
        }

        /* Modal header */
        .modal-header {
            padding: 15px;
            background: #f1f1f1;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .modal-header h2 {
            margin: 0;
        }

        /* Close button */
        .close-modal {
            text-decoration: none;
            font-size: 22px;
            color: black;
            font-weight: bold;
        }

        /* Modal body */
        .modal-body {
            padding: 15px;
        }
